* {
    box-sizing: border-box;
}

.app {
    background-color: green;
    width: 100vw;
    height: 100vh;
}

.mainContainer {
    width: 100%;
    height: 54px;
    border: 2px solid orange;
    background-color: blue;
}

.crmName {
    width: 20%;
    height: 50px;
    float: left;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center
}

.crmName p {
    margin: 0;
}

.searchContainer {
    height: 50px;
    width: 60%;
    float: left;
    margin: 0 auto;
    border: 2px solid black;
    position: relative;
}

input.search {
    display: block;
    width: 240px;
    height: 40px;
    float: right;
    vert-align: middle;
    background-color: white;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 4px;
    font-size: 20px;
    border-radius: 5px;
}

.logSection {
    width: 20%;
    height: 50px;
    float: left;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center
}

.logSection p {
    margin: 0;
}

.dataUser {
    width: 100%;
    height: 100px;
    border: 2px solid red;
}

.dataPerson {
    width: 33.3%;
    height: 100px;
    border: 2px solid pink;
    text-align: center;
    float: left;
    background-color: cyan;
}

.dataContact {
    width: 33.3%;
    height: 100px;
    border: 2px solid pink;
    text-align: center;
    float: left;
    background-color: cyan;
}

.dataAccountNumber {
    width: 33.3%;
    height: 100px;
    border: 2px solid pink;
    text-align: center;
    float: left;
    background-color: cyan;
}

.dataUserFromProps {
    width: 100%;
    height: 100px;
    border: 2px solid red;
}

.dataPersonFromProps {
    width: 33.3%;
    height: 100px;
    border: 2px solid pink;
    text-align: center;
    float: left;
    background-color: cyan;
}

.dataContactFromProps {
    width: 33.3%;
    height: 100px;
    border: 2px solid pink;
    text-align: center;
    float: left;
    background-color: cyan;
    line-height: 0.25cm;
}

.dataAccountNumberFromProps {
    width: 33.3%;
    height: 100px;
    border: 2px solid pink;
    text-align: center;
    float: left;
    background-color: cyan;
}

.cleanDataUserFromProps button {
    display: block;
    width: 180px;
    height: 40px;
    vert-align: middle;
    background-color: white;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 4px;
    font-size: 15px;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    left: 600px
}

.incomeSection {
    width: 20%;
    background-color: yellow;
    float: right;
    height: 76vh;
    border: 2px solid pink;
}

.financialData {
    width: 100%;
    height: 50%;
    background-color: coral;
}

.instrumentsSection {
    width: 100%;
    background-color: deeppink;
}

#tableFinancialData, #tableInstrumentsData {
    border: 2px solid black;
    margin: auto;
}

#tableFinancialData {
    width: 100%;
}

#tableInstrumentsData {
    width: 80%;
}

.incomeSectionFromProps {
    width: 20%;
    background-color: yellow;
    float: right;
    height: 76vh;
}

.financialDataFromProps {
    width: 100%;
    height: 50%;
    background-color: coral;
}

.instrumentsSectionFromProps {
    width: 100%;
    background-color: deeppink;
}

#tableFinancialDataFromProps, #tableInstrumentsDataFromProps {
    border: 2px solid black;
    margin: auto;
}

#tableFinancialDataFromProps {
    width: 100%;
}

#tableInstrumentsDataFromProps {
    width: 80%;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\Lewa strona ////////////////////////*/

.notesAndPreferencesUser {
    width: 20%;
    background-color: yellow;
    float: left;
    height: 15vh;
    border: 2px solid pink;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.PrivateNotesArea {
    margin-top: 10px;
}

.headerPrivateNotes {
    text-align: center;
    border: 2px solid red;
}

.textAreaNotes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.addPrivateNotesButton {
    width: 100%;
}

/*///////////////////////////////*/

.HistoryNotes {
    margin-top: 101px;
    margin-left: 0;
    width: 20%;
    background-color: yellow;
    height: 28vh;
    border: 2px solid pink;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.singleParagraphNote {
    line-height: 0.2cm;
}

/*///////////////////////////////*/

.HistoryBankNumbers {
    margin-top: 101px;
    margin-left: 0;
    width: 20%;
    background-color: yellow;
    height: 17.5vh;
    border: 2px solid pink;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/*////////////// sprawy ////////////////////////*/

.formIssues {
    width: 20%;
    background-color: darkred;
    float: left;
    height: 40vh;
    border: 2px solid pink;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 23.5vh;
    left: 20vw;
}

.titleIssues, .selectCategoryIssues, .caseArea, .signCheckbox, .addContactButton {
    display: block;
}

.issuesList {
    width: 20%;
    background-color: darkred;
    float: left;
    height: 30vh;
    border: 2px solid pink;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 65vh;
    left: 20vw;
}

.active, .done {
    display: block;
}

.formContact {
    width: 20%;
    background-color: darkred;
    float: left;
    height: 40vh;
    border: 2px solid pink;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 23.5vh;
    left: 40vw;
}

.contactsList {
    width: 20%;
    background-color: darkred;
    float: left;
    height: 30vh;
    border: 2px solid pink;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 65vh;
    left: 40vw;
}

.formSale {
    width: 20%;
    background-color: darkred;
    float: left;
    height: 40vh;
    border: 2px solid pink;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 23.5vh;
    left: 60vw;
}

.saleList {
    width: 20%;
    background-color: darkred;
    float: left;
    height: 30vh;
    border: 2px solid pink;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 65vh;
    left: 60vw;
}

